ADMIN_USERNAME=admin
ADMIN_PASSWORD=bc6a777007a6440efa8c6e10d8ba7de5e20e399c2b86d39998b413b04f6eef32
JWT_ACCESS_SECRET=please_change_access_secret
JWT_REFRESH_SECRET=please_change_refresh_secret
DB_PATH=./data/app.db
PORT=3000
FRONTEND_ORIGIN=http://localhost:5173
WEBDAV_RETENTION=10


